* {
    margin: 0;
    padding: 0;
}
main {
    margin: 5rem;
    padding: 0 3rem;
}
header h5 {
    font-family: 'Eczar', serif; 
    font-size: 0.9rem;
    font-weight: 400;
    color: #4e4F52;
}
header h1 {
    font-family: 'Eczar', serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3rem;
}
.section-wrapper {
    margin: 1rem 0;
    border-top-style: solid;
    border-top-width: 0.05rem;
    border-top-color: rgb(180, 175, 175);
    padding-top: 1rem;
    width: 100%;
}
.heading-section-wrapper {
    margin: 1rem 0;
    font-family: "Eczar", serif;
    width: 100%;
}
.heading-section-wrapper h1 {
    font-weight: 500;
    color: #3C3491;
    font-size: 2rem;
}
.inner-section-wrapper {
    display: flex;
    width: 100%;
    margin: 3rem 0;
}
.color-wrapper {
    width: 100%;
    box-sizing: border-box;
    font-family: 'IM Fell DW Pica', serif;
}
.color-tones-wrapper {
    display: flex;
    width: 100%;
}
.color-section-wrapper {
    width: 33%;
}
.color-name {
    margin: 1rem 0;
}
.color-name p {
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
}
.tone-section-wrapper {
    display: flex;
    margin-right: 2rem;
}
footer {
    padding: 0.5rem 0 0.5rem 0.20rem;
}

footer h5 {
    margin-top: 0.5rem;
    font-family: 'IM Fell DW Pica', serif; 
    font-size: 1rem;
}
footer p {
    font-family: 'Eczar', serif; 
    font-size: 0.9rem;
}
.tone-section div {
    width: 6rem;
    height: 6rem; 
}
.blue {
    background-color: #488AC7;
}
.light-blue {
    background-color: #BFDFFB;
}
.border-blue {
    border: 0.02rem solid  #BFDFFB;
}
.yellow {
    background-color: #fcb81a;
}
.light-yellow {
    background-color: #fedf99;
}
.border-yellow {
    border: 0.02rem solid #fedf99;
}
.purplish-red {
    background-color: #910043;
}
.light-purplish-red {
    background-color: #febad9;
}
.border-purplish-red {
    border: 0.02rem solid #febad9;
}
.orange {
    background-color: #E64017;
}
.light-orange {
    background-color: #E69C8A;
}
.border-orange {
    border: 0.02rem solid #E69C8A;
}
.purple {
    background-color: #3c3491;
}
.border-purple {
    border: 0.02rem solid #948ed6; 
}
.light-purple {
    background-color: #948ed6;
}
.lemon-green {
    background-color: #bcf108;
}
.border-lemon-green {
    border: 0.02rem solid #d9f96b;
}
.light-lemon-green {
    background-color: #d9f96b;
}
.white {
    background-color: white;
}
.border-grey {
    border: 0.02rem solid #DCE0E7;
}
.beige {
    background-color: #F7F6F5;
}
.grey {
    background-color: #C8CBD1;
}
.light-grey {
    background-color: #DCE0E7;
}
.black {
    background-color: #070707;
}
.dark-grey {
    background-color: #4e4F52;
}
.border-dark-grey {
    border: 0.02rem solid #4e4F52;
}
.section-wrapper.flex {
    display: flex;
} 
.second-section-wrapper {
    width: 50%;
    padding-right: 3rem;
}
.block-wrapper {
    width: 100%;
}
.typography-section-wrapper {
    width: 100%;
    display: flex;
    margin: 3rem 0;
}
.font-section-wrapper {
    width: 50%;
    display: flex;
    font-family: "Eczar" , serif;
}
.letter {
    margin-right: 2rem;
    width: 50%;
    padding-left: 0.3rem;
}
.letter h1 {
    font-weight: 400;
    font-size: 6rem;
    line-height: 6rem;
}
.letter h3 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    color: #4e4F52;
}
.tag-section-wrapper {
    width: 50%;
    padding-left: 1.5rem;
}
.tag-section-wrapper h1, 
.tag-section-wrapper h2 {
    font-weight: 500;
    justify-content: center;
    font-family: "Eczar", serif;
}
.tag-section-wrapper h1 {
    font-size: 2rem;
    line-height: 2rem;
}
.tag-section-wrapper h2 {
    font-size: 1.6rem;
    line-height: 1.6rem;
}
.tag-section-wrapper h3 {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-family: "Eczar", serif;
}
.font-style {
    width: 50%;
}
.font-style h2,
.font-style p {
    margin-bottom: 0.9rem;
}
.font-style h2 {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.font-style p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    color: #4e4F52;
}
.h-wrapper {
    margin-bottom: 1rem;
}
.pica,
h2.pica {
    font-family: "IM Fell DW Pica", serif;
}
p.pica {
    margin: 1rem 0;
    font-size: 1.3rem;
    justify-content: center;
    color: #4e4F52;
    text-align: justify;
}
.p-wrapper h2 {
    padding-bottom: 0.5rem;
    font-size: 1.5rem;
}
.text-wrapper {
    width: 50%;
    font-family: "IM Fell DW Pica", serif;
    font-size: 1.3rem;
}
.description p {
    text-align: justify;
}
.structure {
    padding: 2rem 0;
    
}
ul li {
    list-style-type: none;
}